@media only screen and (min-width:1200px) and (max-width:1600px) {
    .presentation{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "about about "
        "about about"
        "about about"
        "about about"
        "about about"
        "mission mission"
        "mission mission"
        "view view"
        "view view"
        "values values"
        "values values"
        "values values";
        width: 60%;
        grid-gap: 20px;
        margin-top: 15px;
    }

    .aboutUs, .right-div{
        max-width: 750px;
    }

    .right-div{
        padding: 20px;
    }

    .nav-main{
        height: 6em;
    }

    .list{
        width: 60%;
    }
    .logo{
        margin: 0 0 15px 100px;
    }

    .footer{
        height: 18em;
    }

    .footer-container{
        grid-template-columns: 1fr 1.8fr .9fr 1.2fr;
        width: 98%;
        grid-template-areas: 'logo first-column second-column third-column';
    }

    .logo-footer{
        grid-area: logo;
    }

    .first-column{
        grid-area: first-column;
    }

    .second-column{
        grid-area: second-column;
        margin: 0;
    }

    .third-column{
        grid-area: third-column;
    }

    .links-container{
        grid-template-columns: repeat(3,1fr);
        width: 70%;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    /* MENU */
    .menu-btn{
        color: rgb(98, 98, 98);
        font-size: 30px;
        margin-right: 100px;
        display: block;
        z-index: 10000;
    }

    .logo{
        margin: 0 0 15px 100px;;
    }

    .list{
        display: none;
    }
    
    .show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(63, 62, 62, 0.83); 
        width: 25vw;  
        height: 100vh;
        border-bottom-left-radius: 0;
    }

    .li-element{
        margin: 0 auto 0 auto;
    }

    .li-element > a{
        color: #ffffff;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.918);
        margin-top: 8px;
    } 

    .li-element > a:focus{
        color: rgb(224, 46, 46);
    }

    .li-element > a:active{
        color: rgb(224, 46, 46);
    }

    /* HERO */
    .hero{
        padding:7%;
        height: 15%;
    }
    .hero-title{
        font-size: 1.8rem;
        margin-top: 40px;
    }

    .hero-paragraph{
        font-size: 1.166rem;
    }

    .presentation{
        grid-template-columns: 1fr;
        grid-template-areas: "about about"
        "about about"
        "about about"
        "about about"
        "about about"
        "mission mission"
        "mission mission"
        "view view"
        "view view"
        "values values"
        "values values"
        "values values"
        "values values";
        width: 70%;
        grid-gap: 20px;
        margin-top: 15px;
    }

    .aboutUs, .right-div{
        margin-right:10px ;
        padding: 15px;
    }

    .footer{
        height:38em;
    }

    .footer-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,7em);
        width: 60%;
        grid-template-areas: "logo"
        "first-column"
        "second-column"
        'third-column';
        margin: auto;
    }

    .logo-footer{
        grid-area: logo;
    }

    .first-column{
        grid-area: first-column;
        margin: 0;
    }

    .second-column{
        grid-area: second-column;
        margin: 0;
    }

    .third-column{
        grid-area: third-column;
        margin: 50px 0 100px 0 ;
    }

    .links-container{
        grid-template-columns: repeat(2,1fr);
        width: 70%;
    }

    .first-items{
        width: 75%;
    }
}

@media screen and (min-width:580px) and (max-width:767px) {
    /* MENU */
    .menu-btn{
        color: rgb(98, 98, 98);
        font-size: 30px;
        margin-right: 100px;
        display: block;
        z-index: 10000;
    }

    .logo{
        margin: 0 0 15px 100px;;
    }

    .list{
        display: none;
    }
    
    .show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(63, 62, 62, 0.83); 
        width: 30vw;  
        height: 100vh;
        border-bottom-left-radius: 0;
    }

    .li-element{
        margin: 0 auto 0 auto;
    }

    .li-element > a{
        color: #ffffff;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.918);
        margin-top: 8px;
    } 

    li > a:focus{
        color: rgb(224, 46, 46);
    }

    li > a:active{
        color: rgb(224, 46, 46);
    }
    
    /* HERO */
      .hero{
        padding:7%;
        height: 15%;
    }
    .hero-title{
        font-size: 1.8rem;
        margin-top: 70px;
    }

    .hero-paragraph{
        font-size: 1.166rem;
    }
    
    .presentation{
        grid-template-columns: 1fr;
        grid-template-areas: "about about "
        "about about"
        "about about"
        "about about"
        "about about"
        "about about"
        "mission mission"
        "mission mission"
        "mission mission"
        "view view"
        "view view"
        "view view"
        "values values"
        "values values"
        "values values"
        "values values"
        "values values";
        width: 82%;
        grid-gap: 20px;
        margin-top: 15px;
    }

    .aboutUs, .right-div{
        margin-right:20px ;
        padding: 15px;
    }

    /* FOOTER */
   .footer-container{
       grid-template-columns: 1fr 1.5fr;
   }

    /* LINKS DE INTERES*/

    /* HERO */
    .hero-title_links{
        font-size: 60px;
        margin-top: 20px;
    }
    .hero-paragraph_links{
        font-size: 22px;
    }

    .links-container{
        grid-template-columns: repeat(2,1fr);
        width: 85%;
    }
    .grid_item{
        padding: 12px;
    }
    .grid_item_img{
        width: 12em;
    }

    /* CONTACTO */
    /* HERO */
    .hero-contact{
        background-size: cover;
    }

    .hero-title_contact{
        font-size: 45px;
        margin-top: 30px;
    }

    .hero-paragraph_contact{
        font-size: 21px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    /* main */
    .contact-form{
        max-width: 70%;
    }
    
    .contact-info{
        max-width: 70%;
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width:493px) and (max-width:579px) {
    /* MENU */
    .menu-btn{
        color: rgb(93, 93, 93);
        font-size: 26px;
        margin-right: 60px;
        display: block;
        z-index: 100000;
    }

    .logo{
        margin: 0 0 15px 50px;
        width: 250px;
    }
    
  

    .list{
        display: none;
    }
    
    .show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(63, 62, 62, 0.83); 
        width: 35vw;  
        height: 100vh;
        border-bottom-left-radius: 0;
    }

    .li-element{
        margin: 0 auto 0 auto;
    }

    .li-element > a{
        color: #ffffff;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.918);
        margin-top: 8px;
    } 

    .li-element > a:focus{
        color: rgb(224, 46, 46);
    }

    .li-element > a:active{
        color: rgb(224, 46, 46);
    }
    /* HERO */
    .hero{
        padding:7%;
        height: 15%;
    }
    .hero-title{
        font-size: 1.5rem;
        margin-top: 70px;
    }

    .hero-paragraph{
        font-size: 1rem;
    }
    
    .presentation{
        grid-template-columns: 1fr ;
        grid-template-areas: "about about "
        "about about"
        "about about"
        "about about"
        "about about"
        "about about"
        "mission mission"
        "mission mission"
        "mission mission"
        "view view"
        "view view"
        "view view"
        "values values"
        "values values"
        "values values"
        "values values"
        "values values"
        ;
        width:89%;
        grid-gap: 20px;
        margin-top: 15px;
    }


    .right-div{
        padding: 15px;
    }

    .aboutUs{
        margin-right: 30px;
        padding: 10px;
    }

    .grid-element > h3{
        font-size: 23px;
    }

    .grid-element > p{
        font-size: 14px;
    }

    .presentation-a{
        padding: 13px 53px 13px 48px;
        font-size: 23px;
    }
    
    .aboutUs > img{
        height: 180px;
        margin: 20px 20px 20px 80px;
    }


   
    /* LINKS DE INTERES */

    .links-container{
        grid-template-columns: repeat(1,1fr);
    }

    .hero-links{
        background-size: cover;
    }

    .hero-title_links{
        font-size: 40px;
        margin-top: 30px;
    }

    .hero-paragraph_links{
        font-size: 18px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }
    
    /* Servicios */
    .hero-servicios{
        background-size: cover;
    }

    .hero-title_servicios{
        font-size: 40px;
        margin-top: 30px;
    }

    .hero-paragraph_servicios{
        font-size: 18px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .first-items{
        width: 85%;
    }

    /* CONTACTO */
    /* HERO */
    .hero-contact{
        background-size: cover;
    }

    .hero-title_contact{
        font-size: 45px;
        margin-top: 30px;
    }

    .hero-paragraph_contact{
        font-size: 21px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }
    /* main */
    .contact-form{
        max-width: 80%;
    }
    
    .contact-info{
        max-width: 80%;
        margin-left: 0;
        margin-top: 10px;
    }

}

@media screen and (max-width:492px) {
    /* MENU */
    .menu-btn{
        color: rgb(93, 93, 93); 
        font-size: 26px;
        margin-right: 30px;
        display: block;
        z-index: 100000;
    }

    .logo{
        margin: 0 0 15px 25px;
        width: 220px;
    }
    

    .list{
        display: none;
    }
    
    .show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(63, 62, 62, 0.83); 
        width: 60vw;  
        height: 100vh;
        border-bottom-left-radius: 0;
        z-index: 1000;
    }

    .li-element{
        margin: 0 auto 0 auto;
    }

    .li-element > a{
        color: #ffffff;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.918);
        margin-top: 8px;
    } 

    .li-element > a:focus{
        color: rgb(224, 46, 46);
    }

    .li-element > a:active{
        color: rgb(224, 46, 46);
    }
    
    /* hero */
    .hero{
        padding:7%;
        height: 15%;
    }
    .hero-title{
        font-size: 1.2rem;
        margin-top: 70px;
    }

    .hero-paragraph{
        font-size: 0.8rem;
    }
    
    .presentation{
        grid-template-columns: 1fr;
        grid-template-areas: "about about "
        "about about"
        "about about"
        "about about"
        "mission mission"
        "mission mission"
        "view view"
        "view view"
        "view view"
        "values values"
        "values values"
        "values values"
        "values values"
        "values values";
        width:91%;
        grid-gap: 20px;
        margin-top: 15px;
    }


    .right-div{
        padding: 20px;
    }

    .aboutUs{
        margin: 15px 0px 20px 0;
        padding: 0;
    }

    .aboutUs > h3{
        margin-left: 30px;
    }

    .aboutUs > p{
        margin-left: 30px;
    }

    .mission{
        margin-top: 0;
    }

    .grid-element > h3{
        font-size: 18px;
        font-weight: 700;
    }

    .grid-element > p{
        font-size: 12px;
    }

    .presentation-a{
        padding: 5px 30px 5px 30px;
        font-size: 16px;
        margin: 15px 30px;
    }
    
    .aboutUs > img{
        height: 150px;
        margin: 15px 30px;
    }

  /* LINKS DE INTERES */
    .links-container{
        grid-template-columns: repeat(1,1fr);
    }

    .hero-links{
        background-size: cover;
    }

    .hero-title_links{
        font-size: 33px;
        margin-top: 45px;
    }

    .hero-paragraph_links{
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .hero-servicios{
        background-size: cover;
    }

    .hero-title_servicios{
        font-size: 33px;
        margin-top: 45px;
    }

    .hero-paragraph_servicios{
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .grid_item_img{
        width: 12em;
    }

    .first-items{
        width: 95%;
    }

    .first-items > h2{
        line-height: 30px;
    }

    .servicios-main{
        width: 95%;
    }

    /* CONTACTO */
    /* HERO */
    .hero-contact{
        background-size: cover;
    }

    .hero-title_contact{
        font-size: 22px;
        margin-top: 55px;
    }

    .hero-paragraph_contact{
        font-size: 12px;
        word-spacing: 1px;
        letter-spacing: 1px;
    }
    /* main */
    .contact-form{
        max-width: 100%;
    }
    
    .contact-info{
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .contact-form > h2{
        font-size: 30px;
    }

    .contact-form > h3{
        font-size: 18px;
    }
} 