*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

.container{
    width: 100vw;
}

/* HEADER */

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(209, 209, 209, 0.452);
    height: 5em;
    padding: 20px 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    width: 240px;
    padding-top: 35px;
    margin-left: 230px;
    flex:0;
}


.list{
    display: flex;
    background: rgb(63, 62, 62);
    border-bottom-left-radius: 30px;
    width: 40%;
    justify-content: center;
    align-items: center;
    
}

.li-element{
    list-style: none;
    font-weight: 700;
    padding: 1em 2em 1em 1em;
}

li > a:hover{
    color: #a8a8a8;
}

li > a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 18px;
}

/* HERO */
.hero{
    width: 100vw;
    background-image: url('Images/top1.jpg');
    padding: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 3.5px solid rgba(240, 46, 46, 0.849);
    
}

.hero-title{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    margin-right: 30px;
    text-align: center;
    z-index: 10;
}

.hero-paragraph{
    font-size: 25px;
    display: block;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    z-index: 10;
}

/* GREETING */
.presentation{
    display: grid;
    width: 60%;
    grid-gap: 25px;
    grid-template-columns: 6fr 6fr 3fr 3fr 5fr 5fr ;
    grid-template-rows: 6em 6em 6em ;
    grid-template-areas: "about about mission mission mission mission"
    "about about mission mission mission mission"
    "about about view view view view"
    "about about view view view view"
    "about about values values values values";
    margin: 80px auto;
}


.aboutUs{
    grid-area: about;
    padding: 30px;
    margin: 20px;
    line-height: 30px;
}

.aboutUs > img{
    height: 200px;
    margin: 20px 0 20px 80px;
}

.aboutUs > p{
    margin-top: 5px;
}


.grid-element > p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    font-weight: 400;
    margin-left: 80px;
    color: #6b6b6b;
    
}

.grid-element > h3{
    font-size: 26px;
    font-weight: 400;
    margin-left: 78px;
    color: #000000c0;
}

.right-div > img {
    width: 40px;
    position: relative;
    top: 40px;
    left: 20px;
    vertical-align: middle;
}



.mission{
    grid-area: mission;
    padding: 1px 10px 0px 0px;
    background: #f5f4f4;
    border: 1px solid rgba(153, 153, 153, 0.212);
    margin-top: 25px;
}



.view{
    grid-area: view;
    padding: 1px 0px 20px 0px;
    background: #f5f4f4;
    border: 1px solid rgba(153, 153, 153, 0.212);
    
}


.values{
     grid-area: values;
     padding: 1px 10px 18px 0px;
     padding-bottom: 30px;
     background: #f5f4f4;
     border: 1px solid rgba(153, 153, 153, 0.212);
}

.presentation-a{
    display: inline-block;
    font-size: 26px;
    text-decoration: none;
    color: rgb(251, 54, 54);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: rgba(223, 223, 223, 0.561);
    padding: 20px 58px 20px 58px;
    margin: 10px 0 20px 75px;
    border-radius: 4px;
}

.presentation-a:hover{
    color: rgb(231, 231, 231);
    background: rgb(251, 54, 54);
}

/* FOOTER */
.footer{
    height: 12em;
    width: 100vw;
    background: rgb(224, 224, 224);
    outline: 3px solid rgba(0, 0, 0, 0.267);
    margin-top:50px;
    position: absolute;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr .7fr 1fr;
    grid-template-rows: 100%;
    width: 80%;
    margin: auto;
    grid-gap: 20px;
}

.column{
    list-style: none;
    margin-top: .5em 20px;
    padding: 1em 1em 0 2em;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.678);
}

.column > li{
    margin: 5px;
}

.column > h4{
    font-weight: 900;
    font-size: 18px;
    margin: 8px auto;
    color: rgb(172, 44, 44);
}

.column > li > a{
    color: rgba(0, 0, 0, 0.678) ;
    font-size: 15px;
}

.column > li > a:hover {
    color: #ca2f2f;
}

.column > p,li{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: auto;
}

.first-column{
    margin-top: 30px;
}

.column > li > i{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: red;
}

.column > li > a > i{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
    color: red;
}

/* HERO */
.hero-nosotros{
    width: 100vw;
    background-image: url('Images/contabilidad.jpg');
    padding: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(36, 35, 35, 0.733);
    border-bottom: 3.5px solid rgba(240, 46, 46, 0.849);
    
}

.hero-title_nosotros{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-align: center;
    z-index: 10;
}

.hero-paragraph_nosotros{
    font-size: 25px;
    display: block;
    font-weight: 900;
    word-spacing: 7px;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    z-index: 10;
    color: black;
}


.nosotros-container{
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    line-height: 45px;
}

.subtitle_n{
    font-weight: 900;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #d62121;
}

.paragraph_n{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.links-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, minmax(2em,15em));
    margin: 150px auto 50px auto;
    width: 70%;
    grid-gap: 30px;
    
    
}

.grid_item_{
    display: flex;
    padding: 10px;
}

.grid_item_button > a{
    text-decoration: none;
    font-size: 1.5em;
    
}

.ater{
    margin-top:30px;
}

.grid_item_img{
    max-width: 15em;
    
}


